body{
    background-color: lavender;
    font-family: 'Urbanist', sans-serif;
}
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b398b5;
    display: flex;
   justify-content: space-between;
   border-style:solid;
    border-color: #812b87;
  }
  
  .menubar{
    display: flex;
    color: white;
    padding: 1.4vw 1.6vw;
    text-decoration: none;
    background-color: #b398b5;
    font-size: 3vw;
    font-family: 'Urbanist', sans-serif;
    border-style:solid;
    border-color: #b398b5;
  }

  .texto-m{
    font-size: 4vw;
  }

  .tit{text-align: center;
  font: size 5vw;;
  }

  .container2 {  display: grid;
    gap: 10px 10px;
    flex-direction: column;
  }

.card { 
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color:#b398b5;
  border-color:black;
  border-radius: 20px 20px 20px 20px;
}

.card-title{
  font-size: 4.5vw;
}
.card-subtitle{
  font-size: 3vw;
  text-decoration: underline;
}
.card-text{
  font-size:2.5vw;
}
h6{
  font-size: 5.5vw;
}


.card-img-top{
  width: 70vw;
    height: 50vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
    border-radius:20px 20px 0px 0px;
}

.card-link btn-add-cart{
  background-color: lavender;
  border: 20px;
 font-size: 5vw;
}

.btn-comprar{
  font-size: 4vw;
  padding: 0.5vw 1vw;
  background-color: lavenderblush;
  color: #000000;
  border: 20px;
  border-radius: 4px;
}
@media (max-width:1205px) {
  .btn-comprar{
    font-size: 3vw;
  }
  
}


.btn {
  padding: 0.5vw 1vw;
  background-color: lavenderblush;
  color: #000000;
  border: 20px;
  border-radius: 4px;
  font-size: 3.5vw;
}

@media  (max-width:1205px) {
  .btn{
    font-size: 3vw;
  }
}

.container-cart{
  background-color: #b398b5;
  border: 20px 20px 20px 20px;
}

