body{
    background-color: lavender;
    font-family: 'Urbanist', sans-serif;
}
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b398b5;
    display: flex;
   justify-content: space-between;
   border-style:solid;
    border-color: #812b87;
  }
  
  .menubar{
    display: flex;
    color: white;
    padding: 1.4vw 1.6vw;
    text-decoration: none;
    background-color: #b398b5;
    font-size: 3vw;
    font-family: 'Urbanist', sans-serif;
    border-style:solid;
    border-color: #b398b5;
  }

  .tit{text-align: center;
  font-size:xx-large;
  }
  

 .container2 {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "a b"
    "c d"
    "f g";
}


.card { 
  display:block;
  background-color:#b398b5;
  border-color:black;
  border-radius: 20px 20px 20px 20px;
}

.card-title{
  font-size: medium;
}




img{
  width: 32vw;
  height: 34vw;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

#btn-compra{
  background-color: lavender;
  border-radius: 20px;
  align-items: center;
} 
  
.imgc {
  width: 18vw;
  height: 18vw;
  object-fit: cover;
  border-radius: 2vw 2vw 0vw 0vw; }

.contenedorc{
  display: flex;
  justify-content: center;
}




.container-cart{
  justify-content: center;
}

#carrito {
  background-color: #b398b5;
  border-radius: 2vw;
  padding: 2vw;
  margin-top: 2vw;
}

#carrito h3 {
  font-size: 2vw;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1vw;
}


#carrito .eliminar {
  color: #fff;
  border: none;
  padding: 0.5vw 1vw;
  font-size: 1.5vw;
  font-weight: 300;
  border-radius: 0.5vw;
  cursor: pointer;
}


.carrito h2 {
  margin-bottom: 1vw;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1vw;
}

th, td {
  padding: 0.8vw;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.btn-vaciar, .btn-eliminar {
  padding: 0.5vw 1vw;
  background-color: lavenderblush;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1vw;
}

.btn-vaciar {
  margin-right: 1vw;
}