* {border: 1px solid red;} 

body{
    background-color: lavender;
    font-family: 'Urbanist', sans-serif;
}
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b398b5;
    display: flex;
   justify-content: space-between;
   border-style:solid;
    border-color: #812b87;
  }
  
  .menubar{
    display: flex;
    color: white;
    padding: 1.4vw 1.6vw;
    text-decoration: none;
    background-color: #b398b5;
    font-size: 3vw;
    font-family: 'Urbanist', sans-serif;
    border-style:solid;
    border-color: #b398b5;
  }

#img{
  width: 100%;
  height: auto;

}

.cuarto {
  background-color: #f2a5d8;
  color: black;
padding: 1vw;
}

.posiciontexto{ display: flex;
justify-content: center;
text-align: center;}

.posiciontextos{display:flex;
justify-content: center;
position: absolute;
top:10vw}

.container {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 3fr 3fr 3fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "head"
    "img1"
    "img2"
    "img3"
    "bottom";
}

.head { grid-area: head; }

.img1 { grid-area: img1; }

.img2 { grid-area: img2; }

.img3 { grid-area: img3; }

.bottom { grid-area: bottom; }

.img1 { grid-area: img1;padding: 0;
  background-image: url(./imagenes/cocina\ 22.jpg);background-repeat: no-repeat;  
 }

.img2 { grid-area: img2; padding: 0;
background-image: url(./imagenes/baño\ 33.jpg);background-repeat: no-repeat; width: auto; }

.img3 { grid-area: img3; padding: 0;
  background-image: url(./imagenes/living\ 1.jpg);background-repeat: no-repeat ;  }

.bottom { grid-area: bottom; }