/* *{border: 1px solid rgb(255, 0, 0);} */

body{
    background-color: lavender;
    font-family: 'Urbanist', sans-serif;
}
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b398b5;
    display: flex;
   justify-content: space-between;
   border-style:solid;
    border-color: #812b87;
  }
  
  .menubar{
    display: flex;
    color: white;
    padding: 1.4vw 1.6vw;
    text-decoration: none;
    background-color: #b398b5;
    font-size: 3vw;
    font-family: 'Urbanist', sans-serif;
    border-style:solid;
    border-color: #b398b5;
  }
 .posiciontexto{ display: flex;
    justify-content: center;
    text-align: center;}

.cuarto {
  background-color: #f2a5d8;
  color: black;
  padding: 1vw;
  align-content: center;
  width: 100%;
}
.texto {
  background-color: black;
  color: white;
  padding: 1vw;
  align-content: center;
  text-align: center;
}

.cuadro{ 
  color:black;
  font-size: larger;
  padding: 1vw;
  text-align: center;
}

.container {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 3fr 3fr 3fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "head"
    "img1"
    "img2"
    "img3"
    "bottom";
}

.head { grid-area: head; }

.img1 { grid-area: img1; }

.img2 { grid-area: img2; }

.img3 { grid-area: img3; }

.bottom { grid-area: bottom; }

.img1 { grid-area: img1;
  padding: 0;
  background-image: url(./imagenes/a.jpg);
  background-repeat: no-repeat;
  max-width: 100%; 
  background-position: center;
}

.img2 { grid-area: img2; 
  padding: 0;
  background-image: url(./imagenes/b.jpg);
  background-repeat: no-repeat; 
  max-width: 100%;
  background-position: center;
}

.img3 { grid-area: img3; 
  padding: 0;
  background-image: url(./imagenes/c.jpg);
  background-repeat: no-repeat ;  
  max-width: 100%; 
  background-position: center;
  
}

.bottom { grid-area: bottom; }
