body{
    background-color:lavender;
}
a{color:black;
text-decoration:none;}

*{
    font-family: 'Urbanist', sans-serif;
}

.titulo {
    font-size:  10vw;
    font-family: 'Urbanist', sans-serif;
    text-align: center;
    height: 70px;
    }
.subtitulo {
        font-size:  3vw;
        font-family: 'Urbanist', sans-serif;
        text-align: center;
        height: 30px;
    }
.encabezado{ 
           font-size:  2vw;
           text-decoration: overline;}

.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #b398b5;
  display: flex;
 justify-content: space-between;
 border-style:solid;
  border-color: #812b87;
}

.menubar{
  display: flex;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #b398b5;
  font-size: 30px;
  font-family: 'Urbanist', sans-serif;
  border-style:solid;
  border-color: #b398b5;
}
#fondo {
  width: 100%;
  height: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
